In [2]:
import pandas as pd

In [12]:
state = 'tennessee'
state_sentence_case = f'{state[0].capitalize()}{state[1:]}'
national_file_path = '../generation/national_industry_analysis.csv'
national_detailed_file_path = '../generation/national_summary_detailed.csv'
state_results_csv_path = f'../generation/{state}_results.csv'
soc_mapping_path = '../data/soc_mapping.csv'

In [13]:
national_df = pd.read_csv(national_file_path)
national_detailed_df = pd.read_csv(national_detailed_file_path)
soc_mapping_df = pd.read_csv(soc_mapping_path)

In [38]:
def get_minor_group_title(code):
    if type(code) != str:
        code = str(code)
    if '-' in code:
        code = code.replace('-', '')[:3]
    
    code = code[:3]
    code = int(code)

    
    df = soc_mapping_df[soc_mapping_df['normalized_minor_code'] == code]
    if df.empty:
        return None
    else:
        return df['minor_title'].values[0]

def get_major_group_title(code):
    if type(code) != str:
        code = str(code)
    if '-' in code:
        code = code.replace('-', '')[:2]
    
    code = code[:3]
    code = int(code)

    
    df = soc_mapping_df[soc_mapping_df['normalized_major_code'] == code]
    if df.empty:
        return None
    else:
        return df['major_title'].values[0]

def get_broad_group_title(code):
    if type(code) != str:
        code = str(code)
    if '-' in code:
        code = code.replace('-', '')[:1]
    
    code = code[:4]
    code = int(code)

    
    df = soc_mapping_df[soc_mapping_df['normalized_broad_code'] == code]
    if df.empty:
        return None
    else:
        return df['broad_title'].values[0]

In [40]:
national_detailed_df['minor_group_name'] = national_detailed_df['minor_group'].apply(get_minor_group_title)
national_detailed_df['major_group_name'] = national_detailed_df['major_group'].apply(get_major_group_title)
national_detailed_df['broad_group_name'] = national_detailed_df['OCC_CODE'].apply(get_broad_group_title)

In [30]:
national_df.head()

,minor_group,minor_group_name,TOT_EMP,economic_value,automation_susceptibility,enhanced_automation_risk,is_potentially_at_risk,is_currently_at_risk,estimated_zapier_apps,zapier_apps_per_worker,at_risk_soc_codes,potential_econ_value_at_risk,current_econ_value_at_risk,minor_potential_index,minor_iceberg_index,automation_gap,weighted_iceberg_index,state
0,111,111,36310.0,4.652278e+09,37.948976,28.461732,0,0,0.0,0.0,NaN,0.0,0.0,0.000000,0.0,0.000000,0.0,Alabama
1,112,112,5370.0,7.190369e+08,43.301277,32.475958,1,0,0.0,0.0,112021,195070800.0,0.0,27.129456,0.0,27.129456,0.0,Alabama
2,113,113,20700.0,2.779513e+09,35.604256,26.703192,1,0,0.0,0.0,113021,819366000.0,0.0,29.478760,0.0,29.478760,0.0,Alabama
3,119,119,42490.0,4.119062e+09,36.534983,27.401238,2,0,0.0,0.0,"119041,119121",492811500.0,0.0,11.964167,0.0,11.964167,0.0,Alabama
4,131,131,61570.0,4.881716e+09,38.441509,28.831132,1,0,0.0,0.0,131111,655233700.0,0.0,13.422200,0.0,13.422200,0.0,Alabama

In [31]:
national_detailed_df.head()

,AREA,AREA_TITLE,AREA_TYPE,PRIM_STATE,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,OCC_CODE,OCC_TITLE,...,enhanced_automation_risk,enhanced_risk_category,economic_value,is_potentially_at_risk,is_currently_at_risk,potential_index,econ_potential_index,minor_group,minor_group_name,state
0,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-1011,Chief Executives,...,28.277611,Low,1.591416e+08,False,False,0.0,0.031151,111,Management Occupations,Alabama
1,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-1021,General and Operations Managers,...,32.428586,Low,4.454730e+09,False,False,0.0,1.000000,111,Management Occupations,Alabama
2,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-1031,Legislators,...,24.678998,Low,3.840660e+07,False,False,0.0,0.006561,111,Management Occupations,Alabama
3,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-2011,Advertising and Promotions Managers,...,30.507957,Low,7.860300e+06,False,False,0.0,0.001660,112,Management Occupations,Alabama
4,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-2021,Marketing Managers,...,41.783475,Moderate,1.950708e+08,True,False,100.0,0.056422,112,Management Occupations,Alabama

In [41]:
state_filtered_df = national_detailed_df[national_detailed_df['AREA_TITLE'] == state_sentence_case]

In [56]:
print(f"{state_filtered_df['economic_value'].sum():02}")

178513028800.0

In [80]:
state_filtered_df.sort_values(by='economic_value', ascending=False)[['OCC_CODE', 'OCC_TITLE', 'TOT_EMP', 'economic_value']][:20]

,OCC_CODE,OCC_TITLE,TOT_EMP,economic_value
29964,11-1021,General and Operations Managers,70580.0,8.559237e+09
30259,29-1141,Registered Nurses,63460.0,4.965110e+09
30702,53-7062,"Laborers and Freight, Stock, and Material Move...",113380.0,4.247215e+09
30676,53-3032,Heavy and Tractor-Trailer Truck Drivers,61080.0,3.385054e+09
30418,43-1011,First-Line Supervisors of Office and Administr...,50660.0,3.384595e+09
30403,41-2031,Retail Salespersons,84910.0,2.914111e+09
30432,43-4051,Customer Service Representatives,70950.0,2.859285e+09
29974,11-3031,Financial Managers,18210.0,2.711833e+09
30705,53-7065,Stockers and Order Fillers,64660.0,2.276032e+09
30579,51-2090,Miscellaneous Assemblers and Fabricators,53780.0,2.264676e+09
30017,13-2011,Accountants and Auditors,26650.0,2.172242e+09
30355,35-3023,Fast Food and Counter Workers,76560.0,2.094682e+09
30465,43-9061,"Office Clerks, General",54550.0,2.076718e+09
30423,43-3031,"Bookkeeping, Accounting, and Auditing Clerks",42860.0,1.989561e+09
30400,41-2011,Cashiers,69980.0,1.891559e+09
30041,15-1252,Software Developers,16560.0,1.878070e+09
29999,11-9199,"Managers, All Other",16980.0,1.658437e+09
30182,25-2021,"Elementary School Teachers, Except Special Edu...",29520.0,1.630685e+09
30564,49-9071,"Maintenance and Repair Workers, General",35220.0,1.606384e+09
30356,35-3031,Waiters and Waitresses,53980.0,1.576756e+09

In [76]:
state_filtered_df['TOT_EMP']

29963     5810.0
29964    70580.0
29965      330.0
29966      300.0
29967     7760.0
          ...
30706       50.0
30707      100.0
30708     2820.0
30709      180.0
30710      740.0
Name: TOT_EMP, Length: 748, dtype: float64

In [71]:
state_risk_jobs = state_filtered_df[state_filtered_df['enhanced_automation_risk'] >= 40]
state_risk_jobs = state_risk_jobs.sort_values(by='TOT_EMP', ascending=False)

In [72]:
state_risk_jobs.shape

(10, 56)

In [73]:
state_risk_jobs[:10]

,AREA,AREA_TITLE,AREA_TYPE,PRIM_STATE,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,OCC_CODE,OCC_TITLE,...,economic_value,is_potentially_at_risk,is_currently_at_risk,potential_index,econ_potential_index,minor_group,minor_group_name,state,major_group_name,broad_group_name
30041,47,Tennessee,2,TN,0,Cross-industry,cross-industry,1235,15-1252,Software Developers,...,1.878070e+09,True,True,100.0,0.442036,151,Computer and Information Analyst,Tennessee,Computer and Mathematical Occupations,None
30035,47,Tennessee,2,TN,0,Cross-industry,cross-industry,1235,15-1232,Computer User Support Specialists,...,5.696210e+08,True,False,100.0,0.105217,151,Computer and Information Analyst,Tennessee,Computer and Mathematical Occupations,None
30010,47,Tennessee,2,TN,0,Cross-industry,cross-industry,1235,13-1111,Management Analysts,...,8.992746e+08,True,False,100.0,0.163895,131,Business Operations Specialists,Tennessee,Business and Financial Operations Occupations,None
30031,47,Tennessee,2,TN,0,Cross-industry,cross-industry,1235,15-1211,Computer Systems Analysts,...,8.344098e+08,True,False,100.0,0.162765,151,Computer and Information Analyst,Tennessee,Computer and Mathematical Occupations,None
30042,47,Tennessee,2,TN,0,Cross-industry,cross-industry,1235,15-1253,Software Quality Assurance Analysts and Testers,...,1.955760e+08,True,True,100.0,0.044223,151,Computer and Information Analyst,Tennessee,Computer and Mathematical Occupations,None
30044,47,Tennessee,2,TN,0,Cross-industry,cross-industry,1235,15-1255,Web and Digital Interface Designers,...,1.348380e+08,True,False,100.0,0.026546,151,Computer and Information Analyst,Tennessee,Computer and Mathematical Occupations,None
30037,47,Tennessee,2,TN,0,Cross-industry,cross-industry,1235,15-1242,Database Administrators,...,1.724085e+08,True,False,100.0,0.033302,151,Computer and Information Analyst,Tennessee,Computer and Mathematical Occupations,None
30043,47,Tennessee,2,TN,0,Cross-industry,cross-industry,1235,15-1254,Web Developers,...,1.294652e+08,True,False,100.0,0.026037,151,Computer and Information Analyst,Tennessee,Computer and Mathematical Occupations,None
30040,47,Tennessee,2,TN,0,Cross-industry,cross-industry,1235,15-1251,Computer Programmers,...,1.666479e+08,True,False,100.0,0.034077,151,Computer and Information Analyst,Tennessee,Computer and Mathematical Occupations,None
30038,47,Tennessee,2,TN,0,Cross-industry,cross-industry,1235,15-1243,Database Architects,...,6.693680e+07,True,False,100.0,0.013456,151,Computer and Information Analyst,Tennessee,Computer and Mathematical Occupations,None

In [48]:
grouped_economic_value = state_risk_jobs.groupby(['minor_group', 'minor_group_name'])['economic_value'].sum().sort_values(ascending=False)
print("\nTotal economic value by minor group:")
print(grouped_economic_value)

Total economic value by minor group:
minor_group  minor_group_name
151          Computer and Information Analyst                                            5.343145e+09
113          Operations Specialties Managers                                             1.562124e+09
112          Advertising, Marketing, Promotions, Public Relations, and Sales Managers    1.106576e+09
472          Construction Trades Workers                                                 1.061192e+09
131          Business Operations Specialists                                             8.992746e+08
172          Engineers                                                                   5.225871e+08
119          Other Management Occupations                                                4.156340e+08
152          Mathematical Science Occupations                                            2.866735e+08
519          Other Production Occupations                                                2.733865e+08
132          Financial Specialists                                                       2.094182e+08
359          Other Food Preparation and Serving Related Workers                          2.063530e+08
514          Metal Workers and Plastic Workers                                           1.694759e+08
194          Life, Physical, and Social Science Technicians                              8.142000e+07
499          Other Installation, Maintenance, and Repair Occupations                     6.603650e+07
373          Grounds Maintenance Workers                                                 5.617300e+07
192          Physical Scientists                                                         4.671420e+07
473          Helpers, Construction Trades                                                4.249930e+07
191          Life Scientists                                                             3.513600e+07
173          Drafters, Engineering Technicians, and Mapping Technicians                  2.636060e+07
516          Textile, Apparel, and Furnishings Workers                                   2.635380e+07
171          Architects, Surveyors, and Cartographers                                    2.228650e+07
492          Electrical and Electronic Equipment Mechanics, Installers, and Repairers    1.779250e+07
452          Agricultural Workers                                                        1.507150e+07
439          Other Office and Administrative Support Workers                             1.376700e+07
271          Art and Design Workers                                                      1.136300e+07
537          Material Moving Workers                                                     2.464800e+06
Name: economic_value, dtype: float64

In [46]:
grouped_economic_value = state_risk_jobs.groupby(['major_group', 'major_group_name'])['economic_value'].sum().sort_values(ascending=False)
print("\nTotal economic value by major group:")
print(grouped_economic_value)

Total economic value by major group:
major_group  major_group_name
15           Computer and Mathematical Occupations                         5.629819e+09
11           Management Occupations                                        3.084334e+09
13           Business and Financial Operations Occupations                 1.108693e+09
47           Construction and Extraction Occupations                       1.103692e+09
17           Architecture and Engineering Occupations                      5.712342e+08
51           Production Occupations                                        4.692162e+08
35           Food Preparation and Serving Related Occupations              2.063530e+08
19           Life, Physical, and Social Science Occupations                1.632702e+08
49           Installation, Maintenance, and Repair Occupations             8.382900e+07
37           Building and Grounds Cleaning and Maintenance Occupations     5.617300e+07
45           Farming, Fishing, and Forestry Occupations                    1.507150e+07
43           Office and Administrative Support Occupations                 1.376700e+07
27           Arts, Design, Entertainment, Sports, and Media Occupations    1.136300e+07
53           Transportation and Material Moving Occupations                2.464800e+06
Name: economic_value, dtype: float64

In [51]:
state_risk_jobs['AREA'].unique()

array([47])

In [52]:
sum(grouped_economic_value)

12519279100.0

In [ ]:
grouped_economic_value[''